html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.online-users {
    background-color: #EEEEEE;
}

.users-show * {
    max-height: 300px;
    opacity: 100;
    transition: 1s all;
}

.users-hide * {
    max-height: 0px;
    opacity: 0;
    transition: 1s max-height .5s opacity;
}

.user {
    display: flex;
    margin: 10px 0;
}

.user-av {
    flex: 1;
}

.user-name {
    flex: 2;
}

.user-status {
    flex: 1;
}

.user-status>* {
    border-radius: 10px;
    height: 10px;
    width: 10px;
}

.user-online {
    background-color: green;
}

.user-offline {
    background-color: red;
}

.user-av--img {
    height: 50px;
    width: 50px;
}

@media(min-width: 700px) {
    .online-users {
        max-width: 25%;
    }
}

@media(max-width: 700px) {
    .online-users {
        max-width: 60%;
    }
}

@media(max-width: 468px) {
    .online-users {
        max-width: 100%;
    }
}